* {
    font-family: 'Times New Roman', Times, serif;
    
  }
  .container {
    width: 1000px;
    height: 750px;
    border: 1px solid #E5E7EB;
    background-color: #1D1F21;
    position: relative;
    cursor: pointer;
    border-radius: 10px;color:white;
  }
  
  .header {
    width: 100%;
    background-color: #444648;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .header-text {
    font-size: 16px;
  
    color: white;
  }
  
  .header-text:nth-child(1) {
    padding-left: 20px;
  }
  
  .header-text:nth-child(2) {
    padding-right: 20px;
  }
  
  .tab-create {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  
  }
  
  .tabs {
    display: flex;
    width: 980px;
    margin: auto;
    margin-top: 0px;
    height: 35px;
  }
  
  .tab-text {
    color: white;
    text-decoration-line: none;
  }
  
  .sec-con-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10px;
    width: 980px;
    height: 100%;
    /* margin: auto; */
  }
  
  .sec-con {
    display: flex;
    /* flex-wrap: wrap; */
    width: 400px;
    height: 550px;
    /* margin: auto; */
  }
  
  .sec-con-table {
    display: flex;
    /* flex-wrap: wrap; */
    width: 49%;
    height: 100px;
    margin-left: auto;
  } 
  
  .sec-con-column {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    width: 49%;
    height: 100%;
    /* margin: auto; */
  }
  

  
#finale1
{
  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
}

  .sub-div {
    width: 480px;
    height: 280px;
    border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;

    margin-top: 10px;
    margin: 10px;
  }
  
  .sub-div-control {
    width: 100%;
    height: fit-content;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  
    /* margin-top: 10px; */
  
  }
  
  .training-left-side-container {
    width: 100%;
    height: 87%;
    margin: 10px;
    display: flex;
  }
  
  .sub-div-table {
    width: 100%;
    height: 445.5px;
    border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;

    /* margin-top: 10px; */
    margin: 10px;
  }
  

  .sub-div-formula{
    height: 187px; width: 78%; position:absolute;bottom: 44px; left: 20px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  }

  .sub-div-plot {
    width: 570px;
    height: 384px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  .header-box {
    width: 100%;
    background-color: #FF6600;
    color: White;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    text-align: center; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Button style */
  .button {
    width: 120px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .delete-button {
    width: 90px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button-add-data-point {
  
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .button-add-data-point:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  
  .button:hover {
    color: #ff983f;
    background-color: white;
    font-weight: bold;
  }
  
  .button-add-data-point:hover {
    color: #ff983f;
    background-color: white;
    font-weight: bold;
  }
  
  
  
  .footer {
    width: 100%;
    height: 4%;
    background-color: #444648;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    width: 1000px;
  height: 650px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
  }
  
  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
  
    to {
      top: 0;
      opacity: 1
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
  
    to {
      top: 0;
      opacity: 1
    }
  }
  
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #FF6600;
  text-decoration: none;
  cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #2c2e30;
    color: #FF6600;
  }
  
  .modal-body {
    padding: 2px 16px;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color:#2c2e30;
    color: #FF6600;
  }
  
  
  #myBtn:hover {
    cursor: "pointer";
  }
  
  
  /*swal*/
  .position-absolute {
    position: absolute !important;
    backdrop-filter: blur(6px);
  
  }
  
  
  
  
  /* controls */
  .control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 138px;
  }
  
  .control-panel-button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 164px;
    width: 180px;
  }
  
  .Data-set-x-value-input-container {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .control-panel-create-frist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 175px;
  }
  
  .input-control {
    width: 120px;
    height: 30px;
    text-align: center;
  }
  
  .control-input-heading {
    font-size: 24px;
  }
  
  
  
  
 
  
  
  
  #tablesContainer {
    
    height: 50%;
  }
  
  table {
    width: 100%;
  }
  th{
    background-color: #e0e0e0;
    color:black;
  }
  
  th,
  td {
    border: 1px solid #e0e0e0;
    padding: 6px;
    text-align: center;
    width: 90px;
    font-size: 14px;
  }
  
  table,
  td {
    border: 1px solid #e0e0e0;
   
  }
  #secondtable{
    visibility:hidden;
    height: 420px;
  }
  
  #box {
    position: relative;
  
  }
  
  .swal-container {
    width: 1000px;
    height: 672px;
    padding: 0px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  
  }
  
  .swal-container:target {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  
  }
  
  
  .swal-popup {
    width: auto !important;
    max-width: 100% !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  
  



  .tab {
    cursor: pointer;
    padding: 5px 20px;
    margin: 0px 2px;
    background: #d8a78c;
    display: inline-block;
    color: black;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }

  .warpper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  #one:checked ~ .tabuler #one-tab,
#two:checked ~ .tabuler #two-tab,
#three:checked ~ .tabuler #three-tab {
  background: #fff;
  color: #000;
  border-top: 3px solid #d8a78c;
}

.radio {
  display: none;
}




.warpper2 {
  display: flex;
  flex-direction: column;

}
#five:checked ~ .tabuler2 #five-tab,
#six:checked ~ .tabuler2 #six-tab,
#three:checked ~ .tabuler2 #three-tab,
#four:checked ~ .tabuler2 #four-tab {
background: #fff;
color: #000;
border-top: 3px solid #d8a78c;
}

.tab2 {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #d8a78c;
  display: inline-block;
  color: #000;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}