* {
  font-family: 'Times New Roman', Times, serif;
  
}
.input-control option[value="NULL"] {display: none;}
.inp option[value="NULL"] {display: none;}

.container {
  width: 913px;
  height: 672px;
  border: 1px solid #004E86;
  background-color: #F5F5F5;
  position: relative;
  cursor: pointer;
  border-radius: 10px;color:#004E86;
}

.header {
  width: 100%;

  background-color: #004E86;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-text {
  font-size: 16px;

  color: white;
}

.header-text:nth-child(1) {
  padding-left: 20px;
}

.header-text:nth-child(2) {
  padding-right: 20px;
}

.tab-create {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color:#FFC000;
}

.tabs {
  display: flex;
  width: 980px;
  margin: auto;
  margin-top: 0px;
  height: 35px;
}

.tab-text {
  color: #FFC000;
  text-decoration-line: none;
}

.sec-con-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 10px;
  width: 100%;
  height: 90%;
  margin: auto;
}

.sec-con {
  display: flex;
  /* flex-wrap: wrap; */
  width: 400px;
  height: 550px;
  margin: auto;
}

.sec-con-table {
  display: flex;
  /* flex-wrap: wrap; */
  width: 54%;
  height: 100%;
  margin: auto;
}

.sec-con-column {
  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap; */
  width: 50%;
  height:100%;
  margin: auto;
}
.position-absolute {
  position: absolute !important;
}
.sub-div {
  width: 480px;
  height: 280px;
  border: 0px solid #E5E7EB;
  background-color: #fffefb;
  border-radius: 10px;
  color:#333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 

}


.sub-div-control {
  width: 100%;
  height: 65%;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
  border-radius: 10px;
  color:#333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 
 margin-top:5px;
}


.training-left-side-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-flow: column;
}

.sub-div-table {
  width: 100%;
  height: fit-content;
  min-height: auto;
  border: 0px solid #E5E7EB;
  background-color: #FFFFFF;
  border-radius: 10px;
  color:#333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 
  margin: 10px;
  margin-top: 15px;
}

.sub-div-plot {
  width: 570px;
  height: 384px;
  border: 1px solid #16696e;
  /* margin-top: 10px; */
  margin: 10px;
}


.header-box {
  width: 100%;
  background-color: #0070C0;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
  text-align: center; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Button style */
button {
  width: 100px;
  color:#FFC000;
  background-color: #004E86;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  outline: 0;
  padding: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 
  0 -0.5em 0.5em transparent,
  0 0.5em 0.5em transparent,
  0 0.25em 0.3em -0.2em hsla(var(--hue), var(--sat), 50%, 0.46), 
  0 0.25em 0.75em hsla(var(--hue), calc(var(--sat) - 10%), 40%, 0.3);
}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}


button:disabled {
  opacity: 0.6;
  cursor: not-allowed; font-weight: bold;
}




button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.delete-button {
  width: 80px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color:red;
  outline: none;
  border-radius: 20px;
  border: 2px red solid;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.delete-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

  .delete-button.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  

.footer {
  width: 100%;
  height: 4%;
  background-color: #004E86;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer-text {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  color: #FFC000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  font-family: 'Times New Roman', Times, serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 150px;
  /* Location of the box */
  width: 913px;
  height: 520px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-radius:10px;
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.close:hover,
.close:focus {
  color: #FFC000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #004E86;
  color: #FFC000;
  font-family: 'Times New Roman', Times, serif;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color:#004E86;
  color: #FFC000;
}


#myBtn:hover {
  cursor: "pointer";
}


/*swal*/
.position-absolute {
  position: absolute !important;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

#box {
  position: relative;

}

.swal-container {
  width: 1000px;
  height: 672px;
  padding: 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);

}

.swal-container:target {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);

}


.swal-popup {
  width: auto !important;
  max-width: 100% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.swal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.swal-content {
  font-size: 18px;
}


.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  
}

.control-panel-button-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 0.3in;
}

.Data-set-x-value-input-container {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#004E86;
}

.control-panel-create-frist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 175px;
}

.input-control {
  width: 120px;
  height: 30px;
  text-align: center;
}



#tablesContainer {
  width: fit-content;
  height:fit-content;
  
}

table {
  width: 100%;
}
th{
  background-color: #e5f5fe;
  color:black;
}

th,
td {
  border: 1px solid #6EC3FF;
  padding: 6px;
  text-align: center;
  width: 90px;
  font-size: 14px;
}


table,
td {
  border: 1px solid #6EC3FF;
 
}